<div class="container">
  <h1>Editar <%= resource_name.to_s.humanize %></h1>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, layout: :horizontal) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true, label: 'Email: ' %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <%= f.form_group do %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", label: 'Senha: ', help: "Deixe em branco se não deseja alterar a senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", label: 'Confirmar Senha: ' %>

    <%= f.password_field :current_password, autocomplete: "off",
                         label: 'Senha Atual: ',
                         help: "Você precisa informar sua senha atual para confirmar sua alteração" %>

    <%= f.form_group do %>
      <%= f.primary "Alterar" %>
    <% end %>
  <% end %>

  <h3>Cancelar minha conta</h3>

  <p>
    Descontent?&nbsp;
    <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza disso?" }, method: :delete %>
  </p>

  <%= link_to "Voltar", :back, class: 'btn btn-default' %>
</div>
