<div class="container">
  <h1>Cadastrar Usuário</h1>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true, label: 'Email: ' %>
    <%= f.password_field :password, autocomplete: "off", label: 'Senha: ', help: "(#{@minimum_password_length} número mínimo de caracteres)" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", label: 'Confirmar Senha: ' %>
    <%= f.form_group do %>
      <%= f.primary "Salvar" %>
    <% end %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
