<div class="container">
  <h1>Cadastrar Usuário</h1>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true, label: 'Email: ' %>
    <%= f.password_field :password, autocomplete: "off", label: 'Senha: ', help: "(#{@minimum_password_length} número mínimo de caracteres)" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", label: 'Confirmar Senha: ' %>
    <%= f.form_group do %>
      <%= f.primary "Salvar" %>
    <% end %>
  <% end %>

  <br/><br/>
  <%- if controller_name != 'sessions' %>
    <%= link_to "Logar", new_session_path(resource_name), class: 'btn btn-default' %>
  <% end -%>
  &nbsp;
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Não recebeu as intruções de confirmação?", new_confirmation_path(resource_name), class: 'btn btn-default' %>
  <% end -%>
  &nbsp;
  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Não recebeu as informações de desbloqueio?", new_unlock_path(resource_name), class: 'btn btn-default' %>
  <% end -%>
</div>
