<div class="container">
<%= bootstrap_form_for(@place, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <%= f.alert_message "Por favor verifique os erros listados abaixo!" %>

  <%= f.text_field :name, label: 'Nome: ' %>
  <%= f.text_area :description, label: 'Descrição: ' %>
  <%= f.number_field :rating, label: 'Acessibilidade: ' %>
  <%= f.text_field :address, label: 'Endereço: ' %>
  <%= f.form_group do %>
    <%= f.primary "Salvar" %>
  <% end %>
<% end %>
</div>
