<div class="container">
  <h1>Lista de Locais e Serviços</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.description %></td>
          <td><%= place.rating %></td>
          <td><%= place.latitude %></td>
          <td><%= place.longitude %></td>
          <td><%= place.address %></td>
          <td><%= link_to 'Visualizar', place, class: 'btn btn-mini btn-success' %></td>
          <td><%= link_to 'Editar', edit_place_path(place), class: 'btn btn-mini btn-warning' %></td>
          <td><%= link_to 'Excluir', place, method: :delete, data: { confirm: 'Quer mesmo excluir este item?' }, class: 'btn btn-mini btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Cadastrar Local ou Serviço', new_place_path, class: 'btn btn-primary' %>
</div>
