<div class="container">
  <h1>Descrição do Local ou Serviço</h1>

  <p>
    <strong>Nome:</strong>
    <%= @place.name %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @place.description %>
  </p>

  <p>
    <strong>Acessibilidade:</strong>
    <%= @place.rating %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @place.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @place.longitude %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= @place.address %>
  </p>

  <h3>Lugares Próximos</h3>
  <ul>
  <% for place in @place.nearbys(2) %>
    <li><%= link_to place.address, place %> (<%= (place.distance / 0.62137).round(2) %>) Km</li>
  <% end %>
  </ul>

  <div style='width: 760px; margin-top: 10px; margin-bottom: 10px;'>
    <div id="map" style='width: 760px; height: 400px;'></div>
  </div>

  <script>
    var myLatlng = new google.maps.LatLng(<%= @place.latitude %>, <%= @place.longitude %>);
    var map = new google.maps.Map(document.getElementById("map"), { zoom: 14, center: myLatlng });

    // Multiple Markers
    var markers = [];
    <% @markers.each do |marker| %>
    markers.push(['Lugar Adaptado', <%= marker[:lat] %>, <%= marker[:lng] %>]);
    <% end %>
    var infoWindowContent = [];
    <% @markers.each do |marker| %>
    infoWindowContent.push(["<%= marker[:infowindow].html_safe %>"]);
    <% end %>
        
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: ''
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));
    }
  </script>

  <%= link_to 'Editar', edit_place_path(@place), class: 'btn btn-primary' %>
  <%= link_to 'Voltar', places_path, class: 'btn btn-default' %>
</div>
